<script>
export default {
  name: 'Email',
  props: {
    email: Object,
  },
  methods: {
    updateSubject() {
      const newSubject = prompt('Enter new subject', this.email.subject);

      if (newSubject == null) return;

      this.$emit('update-subject', {
        subject: newSubject,
        emailId: this.email.id,
      });
    },
  },
};
</script>

<template>
  <div class="email" @click="updateSubject">
    <div>
      <a :href="`mailto:${email.sender.emailAddress.address}`">{{
        email.sender.emailAddress.name
      }}</a>
    </div>
    <div class="subject-time-container">
      <div class="subject bold">{{ email.subject }}</div>
      <div class="time">{{ email.receivedDateTime }}</div>
    </div>
    <div class="body-preview">{{ email.bodyPreview }}</div>
  </div>
</template>

<style scoped>
.email {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.email:hover {
  background-color: rgba(255, 255, 255, 0.17);
}

.body-preview {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subject-time-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.subject {
  flex-grow: 1;
  text-align: left;
}

.time {
  flex-shrink: 0;
  text-align: right;
}
</style>
