<script>
import * as msal from '@azure/msal-browser';
import { Client } from '@microsoft/microsoft-graph-client';
import Email from './components/Email.vue';

const LOCAL_STORAGE_KEYS = {
  accessToken: 'accessToken',
  mailboxId: 'mailboxId',
};

export default {
  name: 'OutlookEmailSubjectUpdater',
  components: {
    Email,
  },
  data() {
    return {
      accessToken: null,
      client: null,
      emails: [],
      mailboxId: 'me',
      msalInstance: null,
    };
  },
  methods: {
    async signIn() {
      const loginRequest = {
        scopes: ['User.Read', 'Mail.ReadWrite.Shared'], // Define the scopes your application needs
      };

      await this.msalInstance.initialize();
      await this.msalInstance.handleRedirectPromise();
      const response = await this.msalInstance.loginPopup(loginRequest);
      this.accessToken = response.accessToken;
      localStorage.setItem(LOCAL_STORAGE_KEYS.accessToken, this.accessToken);

      this.initializeClient();
    },
    async callGraphApi() {
      const folderId = 'Inbox';
      this.emails = await this.client
        .api(`/${this.mailboxId}/mailFolders/${folderId}/messages`)
        .orderby('receivedDateTime desc')
        .select('subject, sender, receivedDateTime, bodyPreview')
        .get();

      localStorage.setItem(LOCAL_STORAGE_KEYS.mailboxId, this.mailboxId);
    },
    initializeClient() {
      // Initialize the Graph client
      this.client = Client.init({
        authProvider: (done) => {
          done(null, this.accessToken); // First parameter takes an error if there is one
        },
      });
    },
    handleUpdateSubject(payload) {
      this.emails.value = this.emails.value.map((email) => {
        if (email.id === payload.emailId) {
          email.subject = payload.subject;
        }
        return email;
      });

      this.client
        .api(`/${this.mailboxId}/messages/${payload.emailId}`)
        .patch({ subject: payload.subject });
    },
  },
  created() {
    const msalConfig = {
      auth: {
        clientId: '70c729c7-e667-4cfc-afff-0744761c695a',
        authority: 'https://login.microsoftonline.com/common',
      },
    };

    this.accessToken = localStorage.getItem(LOCAL_STORAGE_KEYS.accessToken);
    this.mailboxId = localStorage.getItem(LOCAL_STORAGE_KEYS.mailboxId) || 'me';

    this.msalInstance = new msal.PublicClientApplication(msalConfig);
    this.initializeClient();
  },
};
</script>

<template>
  <div class="controls">
    <div class="mailbox">
      <span>Mailbox (e.g. me or users/info@yourdomain.com): </span>
      <input v-model="mailboxId" type="text" />
    </div>
    <div class="buttons">
      <button @click="signIn">Sign In</button>
      <button @click="callGraphApi">Fetch Emails</button>
    </div>
  </div>
  <div>
    <email
      v-for="email in emails.value"
      :key="email.id"
      :email="email"
      @update-subject="handleUpdateSubject"
    />
  </div>
</template>

<style scoped>
.mailbox {
  display: flex;
  justify-content: stretch;
  vertical-align: middle;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
}

input {
  flex-grow: 1;
}

.controls * {
  margin: 5px;
}
</style>
